<!DOCTYPE html>
<html>
<head>
  <title>Letsball</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <% api_key = ENV['google_maps_api'] %>
  <link rel="icon" href="<%= asset_path 'ball.png' %>">
  <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?<%= api_key %>&libraries=places">
  </script>
  <link href='https://fonts.googleapis.com/css?family=Exo+2:400,700,300,900' rel='stylesheet' type='text/css'>
  <script type="text/javascript">
    $(function () {
      LetsBall.current_user = {
        id: Number("<%= !!current_user ? current_user.id : '' %> ")
      }
    })
  </script>
</head>
<body>
  <section class="nav-bar">
    <a href="#"><img src="<%= asset_path 'Letsball-logo.png' %>" alt="" /></a>
    <% if signed_in? %>
      <%= button_to "Log Out", session_url, method: :delete %>
      <a class="new-game-link" href="#/games/new">Create New Game</a>
      <a class="reload-map" href="javascript:history.go(0)">Reload Map</a>
      <h1><%= "Hi there, #{current_user.email}" %></h1>
    <% else %>
      <a href="session/new">Sign In</a>
      <a href="users/new">Sign Up</a>
    <% end %>
  </section>

<%= yield %>

</body>
</html>
